<% action = params[:action] == 'checked_out' ? :checked_out : nil %>
<ul id="categories">
<% if @category %>
 <li><%= link_to "全て", [action, :books] , :style => "color: #CEA33A" %><li>
<% else %>
 <li class="selected all">全て</li>
<% end %>
<% Category.all.each do |c| %>
  <% if @category != c %>
    <li><%= link_to c.name, [action, c, :books], :style => "color: #{c.color}" %><span class="count">(<%= c.books.size %>)</span></li>
  <% else %>
    <li class="selected" style="color:<%=c.color%>"><%= c.name %><span class="count">(<%= c.books.size %>)</span></li>
  <% end %>
<% end %>
</ul>
