<%= form_for @book do |form| %>
<% unless @book.errors.empty? %>
<p class="input_error">入力に誤りがあります</p>
<ul class="error_messages">
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<ul>
<li><%= form.label :title %><%= form.text_field :title %></li>
<li><%= form.label :authers %><%= form.text_field :authers%></li>
<li><%= form.label :category_id %><%= render "radio_buttons", :form => form %></li>
<li>
  <%= form.label :publish_year %>
  <%= form.select :publish_year, options_for_select(Array.new((1985..Time.now.year).map{|y| [y,y]}.reverse))%>
</li>
<li><%= form.label :comment %><%= form.text_area :comment %></li>
<li><%= form.check_box :checked_out %><%= form.label :checked_out %></li>
<li><%= form.submit "送信" %></li>
</ul>
<% end %>
