<h1>本の新規登録</h1>

<%= form_for @book do |form| %>
<ul>
<li><%= form.label :title, "タイトル" %><%= form.text_field :title %></li>
<li><%= form.label :authers, "筆者" %><%= form.text_field :authers%></li>
<li>
  <%= form.label :publish_year, "発行年"%>
  <%= form.date_select :publish_year, 
      :order => [:year], 
      :start_year => 1985,
      :end_year => Time.current.year
%>
</li>
<li><%= form.label :comment, "コメント" %><%= form.text_area :comment %></li>
<li><%= form.check_box :checked_out %><%= form.label :checked_out, "チェック済み" %></li>
<li><%= form.submit "送信" %></li>
</ul>
<% end %>
