<h1>本の詳細</h1>
<div id="book">
  <p><span class="caption">Title:</span><span><%= @book.title %></span></p>
  <p><span class="caption">Auther(s):</span><span><%= @book.authers %></span></p>
  <p><span class="caption">Publish Year:</span><span><%= @book.publish_year %></span></p>
  <p><span class="caption">Comment:</span><span><%= @book.comment %></span></p>
</div>
<p class="link_to"><%= link_to "Book Listへ", :books %></p>
